@import "~carbon-components/scss/globals/scss/spacing";

.home {
  padding-bottom: 3rem;
  .text-bold {
    font-weight: bold;
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Old versions of Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Non-prefixed version, currently*/
  }
}

.test {
  margin-top: $layout-06;
}

.data__container > * {
  margin-top: $spacing-05;
}

.rc-slider {
  min-height: 24px;
}

.chartWrapper {
  padding: 15px;
  margin-bottom: 15px;
  .rangeWrapper {
    padding: 0 20px;
  }
}

.datePreview {
  font-size: 12px;
}
